.dialog{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialog a{
    text-decoration: none;
    font-family: Tahoma;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}
.dialog a:hover{
    text-decoration: underline;
}