.nav{
    grid-area: n;
    width: 100%;
    padding-top: 15px;
    background-color: #EE4436;
}
.nav>div{
    margin-bottom: 5px;
    padding: 0 15px 0;
}
.nav a{
    text-decoration: none;
    color: #000;
}
.nav a:hover{
    text-decoration: none;
    color: #fff;
}