.app-wrapper{
  display: grid;
    margin: 0 auto;
    width: 1200px;
  grid-template-areas:
          "h h"
          "n c";
  grid-template-rows: auto 1fr;
  grid-template-columns: none;
  /*grid-gap: 10px;*/
}
.content{
  grid-area: c;
  background-color: #01A62D;
}
.content>img{
  width:100%;
}
.content>div{
  padding: 0 15px;
}